/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
body {
  background-color: #ffffff;
}
code {
  color: #e01a76;
}
img {
  max-height:100%;
  max-width:100%;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: normal;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
}
span.emoji {
  font-size: 80px;
  vertical-align: middle;
  line-height: 2;
}